body{
    font-family: "Irish Grover", system-ui;
    margin: 60px;
    margin-top: 0px;
    padding: 0;
    background-color: black; 
    }

nav{
    background-color: black;
    font-family: "Irish Grover", system-ui;
    font-size: 20px;
    font-style: normal;
    /* added the three "fonts" but had no changes to the navigation menu */
    display: flex; 
    justify-content: space-between;
    padding: 20px 10%; 
    }

#main-menu{
    display: flex;
    align-items: center;
    gap: 40px;
}

#main-menu li{
    list-style: none;
}

.dropdown{
    display: none;
    position: absolute;
    margin: 0px;
}

.sub-menu:hover .dropdown {
    display:block;
    
}

.logo{
    color: yellow;
    font-family: "Just Me Again Down Here", cursive;
    font-size: 60px;
    font-style: normal;
    padding: 0px 5%;
    text-decoration: none; /* Remove underline */ 
}


#main-menu button, #main-menu a {
    background-color: black;
    font-family: "Irish Grover", system ui;
    font-size: 17px; 
    transition: color .2s;
    text-decoration: none;
    color: white;
    border-width: 0;
    font-weight: none; 

/* the navigation bar  */
}

/* About Me Button */
#main-menu button:nth-of-type(0):hover {
    color:  #fc6128; 
}

/* Resume Link */
#main-menu a:hover {
    color: #7D8D98; 
}

/* Criminology Button */
#main-menu button:nth-of-type(1):hover {
    color:  #fc6128; 
}

/* Journalism Button */
#main-menu button:nth-of-type(2):hover {
    color: #fc6128; 
}

/* Graphic Design Button */
#main-menu button:nth-of-type(3):hover {
    color: #fc6128; 
}